.card {
  display: inline-block;
  border: 2px black solid;
  width: 250px;
  height: 150px;
  margin: 3px;
  padding-left: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  position: relative;
}

img {
  position: absolute;
  left: 50%;
  min-width: 120px;
  top: 10%;
}
